h1{
    padding-left: 650px;
    font-family: sans-serif;
    
}

.sweetener{
    
    padding-left: 470px;
    position:relative;
    top:100px;
    
}

.songs{
    
 font-family: sans-serif;
    position: relative;
    bottom: 400px;
   text-align: center;
    float: left;
    left:80px;
}

.songs2{
    
    font-family: sans-serif;
    position: relative;
    bottom: 400px;
   text-align: center;
    float: right;
    right:80px;
}